.cell{
    opacity: 0.2;
    border: 3px solid black;
    width: 18px;
    height: 18px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cellInner{
    background-color: black;
    width: 12px;
    height: 12px;
}
.row{
    display: flex;
}
.car, .border{
    opacity: 1;
}
.gameBoard {
    display: inline-block;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(168, 182, 171);
}
.appWrapper{
    padding: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: rgb(43,89,238);
}
.gameInfo{
    width: 100px;
    position: relative;;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(168, 182, 171);
}
.scoreWrapper{
    padding: 5px;
}
.scoreWrapper p{
    margin: 0;
}
.buttonStart{
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: inherit;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}